body {
    background-color:white;
}

main {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: static;
    overflow: hidden;
}
.card {
    margin: auto;
    background-color:whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

h1 {
    margin: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

img {
    margin: 10px;

}

#welcome-text {
    margin-top: 300px;
    
}


form {
    margin: 15px;
}

footer {
    background-color: darkgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

section {
    /* border: 1px solid black; */
    background-color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 70px;
}

@media only screen and (min-width: 955px) {
    section {
        width: 70%;
    }
}

@media only screen and (max-width: 954px) {
    section {
        width: 90%;
    }
    
}